<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>EmployeeApp user</h1>
  <h1><a href="{% url 'emp_add' %}">Добавить сотрудника</a></h1>
  <h1><a href="{% url 'project_add' %}">Добавить проект</a></h1>
  <h1><a href="{% url 'pos_add' %}">Добавить должность</a></h1>
  <h1><a href="{% url 'sal_add' %}">Добавить зарплату</a></h1>
  <h1><a href="{% url 'char_add' %}">Добавить характеристику</a></h1>
  <h1><a href="{% url 'emp_show' %}">Показать сотрудников</a></h1>
</body>
</html>